        @import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;500&display=swap');

        body{
          font-family: 'Recursive', sans-serif;
        }

        .col-5, 
        .col-6, 
        .col-12, 
        .col-4, 
        .col-3 
        {
           /* outline: 1px solid #999; */
        }
        
        .header h1,
        .header h2 {
            display: inline;
        }
        
        .header h2 {
            font-size: 1em;
        }
        
        .footer .title {
            display: block;
        }
        
        .big-front,
        .products
        {
            margin-top: 30px;
        }
        
        .footer {
            margin-top: 80px;
            margin-bottom: 100px;
        }
        
        .footer .card img {
            margin-top: -50px;
            width:90px;
        }

        .card-img-top{
          width:100px;
          margin:0 auto !important;
        }

        .card-subtitle{
          font-size:12pt;
        }

        .container-menu{
          background-color: #10bba7;
        }

        .col-nav{
          background-color:#10bba7;
        }

        .card-sobre{
          transition: .3s all !important;
        }

/*        .card-sobre:hover{
          background:#FAFAFA;
          transition: .3s all !important;
        }*/

        .card-no-border{
          border:0px !important;
        }

        .col-logo-header{
          margin-top:10px !important;
          color:#FFF !important;
        }

        .col-12 .bloco-descricao-foto{
          position:absolute !important;
          top:70% !important;
          left:-.5% !important;
          width:150px !important;
          padding:15px !important;
          background: #10bba7 !important;
          color:#FFF !important;
        }

        .footer a:link{
          color: #10bba7 !important;
        }

        .footer a:visited{
          color: #10bba9 !important;
        }

        .footer .col-lg-12{
          margin-bottom:30px !important;
        }

        .logo-footer{
          width:30px;
          transition: .2s all !important;
        }

        .logo-footer:hover{
          margin-bottom:5px !important;
          transition: .2s all !important;
        }

        .img-corrida{

        }

        .img-corrida:hover{
          margin-bottom:5px !important;
          transition: .2s all !important;
        }

        .h-title-section{
          color:#10bba7 !important;
        }
        